body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .rulesmanager{
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .head{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: black;
  }

  .para{
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 1rem; */
    color: rgb(27, 27, 30);
  }

  .rules{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .manage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
    height: 50px;
    width: 150px;
    font-size: 1rem;
    margin-top: 1rem;
   
  }

  .manageRules{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    font-size: 2rem;
    margin-top: 1rem;
    color: black;
  }
  .rulesmanage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    color: black;
  }
.rule-visualizer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  color: green;
}

.test{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 1rem;
}
.text{
  width: 400px;
}
  input, textarea, select, button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    border: 1px solid #ddd;
  }
  
  button {
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  